.movieContainer {
    color: wheat;
}

.pills {
    background-color: orange;
    border-radius: 2em;
    padding: .25em;
    margin: .5em;
    margin-bottom: 8em;
    font-size: 1.25em;
}

.lowerFlexCont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2em 0;
    text-align: center;

    .flex {
        border: 2px solid orange;
        border-radius: 2em;
        padding: 2em;
        padding-bottom: 4em;
    }

    h2 {
        border: 2px solid orange;
        border-radius: 2em;
        padding: 1em;

    }
}