.movieContainer {
    color: wheat;
}

.pills {
    background-color: orange;
    border-radius: 2em;
    padding: .25em;
    margin: .5em;
    font-size: 1.25em;
}



.FlexCont {
    //multiple divs
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 2em 0;

    .flex {
        border: 2px solid orange;
        border-radius: 2em;
        padding: 2em;
        padding-bottom: 4em;
    }

    h2 {
        border: 2px solid orange;
        border-radius: 2em;
        padding: 1em;

    }
}

.description {
    margin: 4em 2em;
    text-align: center;


    #overview {
        line-height: 2em;
        font-size: 1.5em;
        text-align: left;
    }

    #originalTitle {
        font-size: 4em;
        margin: 0;
    }
}

.imgAndGenre {
    display: flex;
    justify-content: space-around;

    img {
        border-radius: 2em;
        border: 2px solid orange;
    }

}



.rating {
    font-size: 1.5em;
}