.header {
    background-color: orange;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: wheat;

    h1 {
        cursor: pointer;
        font-size: 3.5em;
    }
}